<html>
        <head>
            <title>Блог Алены</title>
        </head>
        <body>
            <div>
                <h1><a href="">Это блог Алены</a></h1>
            </div>

            <div>
                <p>опубликовано: 14.06.2014, 12:14</p>
                <h2><a href="">Нетленка про уточку</a></h2>
                <p>Озеро. Лебеди разминают крылья. Красавец–лебедь картинно становится в позы культуриста, растягивая каждое сухожилие, поигрывая мускулами.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Продолжение нетленки</a></h2>
                <p>Подходит маленькая серая уточка, мнется, начинает (жалобным, слегка писклявым, дрожащим голосом): Коне–е–е–е–е–ечно... Наверное, на Юг полетите?..</p>
            </div>
        </body>
    </html>