.page-header {
        background-color: #f2e8cb;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #364d87;
        font-size: 36pt;
        text-decoration: none;
    }

    .content {
        margin-left: 20px;
    }

    h1, h2, h3, h4 {
        font-family: Helvetica, Arial, serif;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #364d87;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .post {
        margin-bottom: 5px;
        font-family: Helvetica, Arial, serif;
    }

    .post h1 a, .post h1 a:visited {
        color: #364d87;
    }
    
    .a {
        padding-left: 20px;
        font-size: 26pt;
        font-family: Helvetica, Arial, serif;
    }